.main-title {
    padding-left: 80px;
    background: url('~@assets/main_logo.png') no-repeat;
    background-size: contain;
}
.site-item {
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 130px;

    &:hover {
        transform: scale(1.05);
        background-color: white;
        transition: transform 200ms ease-in-out;
    }
}
.site-item-bg {
    position: absolute;
    bottom: 0;
    right: 3%;
    font-size: 30px;
    font-weight: bold;
    color: #c5c5c5;
    opacity: .2;
}
.site-logo {
    width: 158px;
}